<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="border:1px #333 solid;border-radius:35px;">
      <div class="col-md-6">
          <img src="../assets/angular.png" alt="" class="img-responsive" style="height:100%;width:100%;">
      </div>
      <div class="col-md-6 marquee-text" >
          <marquee bgcolor="white" scrollamount="3" direction="up" loop="true" style="max-height: 500px;"> 
<pre style="background-color: white;border:0px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace"> 
  <h4> Course Contents:</h4>
  <strong>Getting Started</strong>
    - Quick Introduction to Angular
    - Architecture of Angular Apps
    - Setup Development Environment
    - Build First Angular App
    - Project Structure
    - Angular Version History

  <strong>Fundamentals</strong>
    - Building Blocks of Angular Apps
    - Components
    - Directives
    - Services & Dependency Injection

  <strong>Data And Event Handling</strong>
    - String Interpolation
    - Property Binding
    - Attribute Binding
    - Adding Bootstrap
    - Class Binding
    - Style Binding
    - Event Binding
    - Event Filtering
    - Template Variables
    - Two-Way Binding
    - Pipes

  <strong>Reusable Components</strong>
    - Introduction
    - Input Property
    - Output Property
    - View Encapsulation
    - ngContent
    - ngContainer

  <strong>Forms</strong>
    - Introduction
    - Template Driven Forms
    - Reactive Forms
 
  <strong>HTTP Client</strong>
    - HTTP Client Service
    - HTTP Interceptors

  <strong>Routing</strong>
    - Angular Routing
    - Configuring Routes
    - Route & Query Parameters
  
  <strong>Angular Animation</strong>

  <strong>Deployments</strong>
    - Angular Apps Deployment
    - Deployment with Firebase
    - Deployment with Github
    - Deployment with Heroku

</pre>
          </marquee>
      </div>
    </div>
  </div>
</div>