<nav class='navbar navbar-default navbar-inverse'>
  <div class="container-fluid">
    <div class='navbar-header'> 
      <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="home" class='navbar-brand'>
        <!-- Home -->
        <img src="../../assets/logo.png" alt="" class="brand-logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="coursedetails">Course Details</a></li>
        <li><a routerLink="code">Code</a></li>
        <li><a routerLink="example">Examples</a></li>
        <li *ngIf="isadmin"><a routerLink="users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!LoggedIn"><a routerLink="signup">Register</a></li>
        <li *ngIf="!LoggedIn"><a routerLink="signin">Login</a></li>
        <li *ngIf="LoggedIn">
          <a style="cursor:pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>