<div class="container">
  <div class="row">
    <h2 style="margin-left:20px;">About Us</h2>
    <div class="col-md-3"><hr></div> 
    <br>
    <p>The basic idea behind designing this website is making the developers familier with Angular framework quickly in no time.</p> 
    <p>As we know developers are too much busy and they can spend very little time for learning new technologies. </p>
    <p>Keeping this in mind, this crash course has been designed to quickly understand diffrent aspects of Angular in less time.</p>
    <p>We are sure this will help to feel comfortable with the framework for newbiees in some time and start getting into Angular from the Basics.</p>
    <br>
    <p>Our expection is learners will utilize this portal to get Angular insides quickly and contribute their learning experiences in "Experience" section which will be added soon.</p>

    <p><em>Future Plan:</em> Along with this we will be adding new section so that learners can add new topics they come across and feel that will benefit the users.</p>
  </div>
</div>