hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    background-color: #333;
    height: 5px;
    margin-top:-7px;
}

h2{
    border-radius: 10px;
    border: 3px #333 solid;
    padding: 7px;
    width: 175px;
    margin-left: 10px;
}

p{
    margin-left:10px;
}