<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p> -->
      <legend><a href="#">
        <!-- <i class="glyphicon glyphicon-globe"></i> -->
        <img src="../../../assets/logo.png" alt="" class="brand-logo">
      </a> Sign up!</legend>
      <form class="form-signup" (ngSubmit)="onSignUp(f)" #f="ngForm">
          <!-- <span id="reauth-email" class="reauth-email"></span> -->
          <input type="text" id="inputName" class="form-control" placeholder="Name" 
            name="name" minlength="10" #name="ngModel" ngModel required autofocus>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="errMessage">
              <div *ngIf="name.errors.required">Name is required.</div>
              <div *ngIf="name.errors.minlength">Name must be at least 10 characters long.</div>
            </div>

          <input type="number" id="inputPhone" class="form-control" placeholder="Phone No" 
            name='phone' minlength="10" #phone="ngModel" ngModel required>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="errMessage">
              <div *ngIf="phone.errors.required">Phone is required.</div>
              <div *ngIf="phone.errors.minlength">Phone must be at least 10 digits long.</div>
            </div>

          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" 
            name='email' minlength="10" #email="ngModel" ngModel required email>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="errMessage">
              <div *ngIf="email.errors.required">Email is required.</div>
              <div *ngIf="email.errors.minlength">Email must be at least 10 characters long.</div>
              <div *ngIf="email.errors.email">Email format invalid.</div>
            </div>

          <input type="password" id="inputPassword" class="form-control" placeholder="Password" 
            name='password' minlength="6" #password="ngModel" ngModel required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="errMessage">
              <div *ngIf="password.errors.required">Password is required.</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters long.</div>
          </div>
          <!-- <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div> -->
          <span class="errMessage" *ngIf="signupFailed">{{errMsg}}</span>
          <button class="btn btn-lg btn-primary btn-block btn-signup" [disabled]="f.invalid" type="submit">Sign up</button>
      </form><!-- /form -->
      <a href="#" class="sign-in">
        Forgot the password?
        </a>
      <a routerLink='/signin' class="sign-in pull-right">
          Sign In
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->