*{
    margin: 0px;
    padding: 0px;
}

.sidebar{
    height: 100%;
    max-height: 100%;
    width:200px;
    /* top:-50px; */
    background-color: #080808;
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(black, slategray); */
    margin-top:-60px;
}

.parent-item ul li{
    list-style: none;
    color:white;
    padding: 10px 8px;
    border-bottom:1px lightblue solid !important;
    width:100%;
    font-family: sans-serif;
}
.parent-item a{
    cursor: pointer;
    color:#9d9d9d;
}
.child-item{
    background-color: gray;
}

.sidebar .selected .child-item{
    display: block;
    /* position: static;
    opacity: 1;
    transition: opacity 1s linear; */
}

.sidebar .child-item {
    /* position:absolute;
  opacity: 0; */
    display: none;
    background-color: #333;
    margin: 7px -6px -10px -6px;
    border-top:1px lightblue solid !important;
}

.sidebar ul li{
    list-style: none;
    color:white;
    padding: 10px 8px;
    border-bottom:1px gray solid;
    width:100%;
    font-family: sans-serif;
}

.toggle-icon{
    display: table-caption;
    /* position: absolute; */
    margin-left:210px;
    /* top:60px;   */
    cursor: pointer;
}
.toggle-icon span{
    width:30px;
    margin:4px 0px;
    height:5px;
    background-color: brown;
    display: block;
}

/* small menu trial*/

/* ul li img {
    width: 48px;
    height: 48px;
} */

ul .parent-item-small img, ul .child-item-small img{
    width: 24px;
    height: 24px;
}

.sidebar-small{
    height: 100%;
    max-height: 100%;
    background-color: #080808;
    margin:-10px 0px 0px 5px;
    width: 42px;
}
.sidebar-small ul li{
    list-style: none;
    padding: 10px 8px;
    border-bottom:1px lightblue solid !important;
    text-align: center;
}

.sidebar-small .selected .child-item-small{
    display: block;
}

.sidebar-small .child-item-small {
    display: none;
    background-color: #333;
    margin: 7px -6px -10px -6px;
    border-top:1px lightblue solid !important;
}

