<div class="toggle-icon" (click)="toggleSidebar()" [@toggleState]="state">
  <span></span>
  <span></span>
  <span></span>
</div>
<br>
<div class="sidebar" [@photoState]="state">
  <ul>
    <li *ngFor="let menu1 of menulevel;let i = index" class="parent-item"
        [ngClass]="{'selected': selectedItemId === i}" > 
      <a (click)="selectedItemId = i" [routerLink]="['/home']" [queryParams]="{val:menu1.link}">{{menu1.name}}</a>
      <ul *ngIf="menu1.children" class="child-item">
        <li *ngFor="let menu2 of menu1.children" >
          <a [routerLink]="['../home']" [queryParams]="{val:menu2.link}">{{menu2.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

