<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>Contact Us</h2>
      <!-- <hr> -->
      <br>
      <strong style="border-bottom:2px solid #333;">Our Office Location</strong>
      <br><br>
      Under Construction.<br>
      We will update once we get one.
      <br>
      <br>
      <div>
        <strong style="border-bottom:2px solid #333;">Contact Details:</strong>
        <br><br>
        <u><i>XXXXX.XXXXXX@gmail.com</i></u>
        </div>
        
        <br>
        +91 XXXXXXXXX1<br>
        +91 XXXXXXXXX2<br>
        +91 XXXXXXXXX3
    </div>
  </div>
</div>
